*{
    box-sizing: border-box;
}

/* Container for the card */
.card-container {
    max-width: 350px; 
    height: 607px;
    margin: 20px auto; 
    padding: 20px;
    background-color: rgb(28, 26, 26);
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    text-align: center; /* Center the text */
    font-family: 'Arial', sans-serif; /* Set the font family */
    
}

/* Avatar styling */
.avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%; 
    margin-bottom: 15px; /* Space below the avatar */
}

/* Name */
h1 {
    font-size: 24px;
    margin: 10px 0; /* Add some space above and below the name */
    color: white
}

/* Location */
h2 {
    font-size: 16px;
    color:  hsl(75, 94%, 57%) ;/* Lighter color for the location */
    margin-bottom: 10px;
}

/* Bio description */
h3 {
    font-size: 14px;
    color: #777; 
    margin-bottom: 20px; 
}

/* Styling for the social link buttons */
button.social-links {
    width: 90%;
    height: 50px;
    display: flex;
    background-color: #363535;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 15px;
    border-radius: 7px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    display: block;
}

/* Active state for the social links button */
button.social-links.active {
    background-color: hsl(75, 94%, 57%); 
    cursor: pointer;
    transform:scale(1.1);
}

/* Hover effect for social links */
button.social-links:hover {
    background-color: #949e28; /* Darker color on hover */
    transform: scale(1.05); /* Slightly increase size on hover */
}
/* Ensures hover when active class is added*/
button.social-links.active:hover {
    background-color: hsl(75, 94%, 57%); /* Darker color on hover */
    transform: scale(1.1); /* Slightly increase size on hover */
}

